*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#container{
    width: 100%;
    height: 100%;
}
#box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    /* background-color: red; */
    overflow: hidden;
}
.imagediv{
    width: 200px;
    height: 250px;
    /* background-color: blue; */
    position: absolute;
    transform: translate(-100px, -250px);
    overflow: hidden;
    
}

.img{
    transform: translateY(90%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation-name: upDown;
    animation-duration: 1.5s;
}
@keyframes upDown {
    0%{transform: translateY(50%);}
    50%{transform: translateY(0%);}
    100%{transform: translateY(100%);}
}
/* @keyframes upDown {
    0%{scale: 0.2;}
    50%{scale: 1;}
    100%{scale: 0;}
} */